<!doctype html>
<html lang='en' >
  <head>
    <meta charset="UTF-8">
    <title>My App</title>
<!--    angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>    
    <script src='angular-route.min.js'></script>
    <script src='controller.js'></script>
    
<!--    bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="jquery-navbar.js"></script>
  </head>
  <body ng-app='mainApp'>
<!--  data collection-->
    <div ng-controller="data" style=display:none>
        <script>
            var title = '<%=title%>';
            var users = '<%=JSON.stringify(users)%>';
        </script>
    </div>
<!--     header navbar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active" id="homeSweetHome"><a href="#/">Home</a></li>
      <li><a href="#/users">Users</a></li>
      <li><a href="#/">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav> 
<!--  views-->
   <div ng-view></div>      
  </body>
</html>